name: Run Status Checks 

on: [pull_request]

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Node 18.12.0
        uses: actions/setup-node@v3
        with:
          node-version: 18.12.0
      - name: Install Dependencies 
        run: npm ci
      - name: Unit Tests
        run: npm run test:cov
